# Docker PostgreSQL Configuration
POSTGRES_USER=someuser
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=gorm

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# Port mapping for PostgreSQL
DB_PORT=5432
